@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.friendList {
  font-family: 'Lato';
  font-size: 12px;
  line-height: 32px;
  font-weight: 400;
  padding-inline-start: 0px;
  margin-right: auto;
  margin-left: auto;
  width: 400px;
  padding-bottom: 20px;
}
